@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/made-tommy-outline');

.max-container {
  max-width: 1440px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4aed9e;
  border-radius: 8px;
}

::selection {
  color: white;
  background: #4aed9e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.perspective {
  perspective: 1000px;
}
